<section class="about-show">


<h1>About Us</h1> <br>

<p> Jungle is a mini e-commerce application, 
it was built with users in mind from the main catalog to each products detail page. </p>

<p> Our mission is to support modernism, innovation and revolution.   
We offer some remarkable and interesting products that are not available anywhere. </p>

<p> Enjoy your time while navigating through our categories and products. 
</p> <br>

<div>
    <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
  </div>

</section>
